body{
	
}
html {
	padding: 0;
	margin: 0;
}

.main {
	padding: 0;
	margin: 0;
	background: url(images/main_top_bg.gif) repeat-x top;
}

.logo {
	height: 96px;
	padding: 0;
	margin: 0 auto;
}

h1 {
	margin: 0;
	padding: 20px 0 0 20px;
	color: #636363;
	font: bold 22px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	background-color:  #6babde ;
}

h1 a,h1 a:hover {
	color: #333333;
	text-decoration: none;
}

h1 span {
	color: #ffffff;
}

h1 small {
	padding: 0 10px;
	font: normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing: normal;
}

.menu_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background:  #d5d8dc ;
	height: 38px;
}
.menu_nav ul li {
	margin: 0;
	padding: 0 2px 0 0;
	float: left;
	background: url(images/menu_line.gif) no-repeat right;
}

.menu_nav ul li a {
	display: block;
	margin: 0;
	padding: 11px 25px;
	color: black;
	text-decoration: none;
	font-size: 13px;
	line-height: 16px;
}

.menu_nav ul li.active a,.menu_nav ul li a:hover {
	color: #fff;
	text-decoration: none;
	background:  #99a3a4 ;
}

.content {
	padding: 9px;
	background: url(images/content_border_bg.png);
	border: 1px solid #a1a1a1;
}

.content_bg {
	padding: 12px;
	background: #fff;
}

.image {
	padding: 4px;
	margin: 0 0 10px;
	background:  #5f6163 ;
	border: 1px relative #d8d8d8;
	/* position: relative;
	left: 120px; */
	
}